.Win[program="SKAT45"] .Window .WindowBody {
	display: flex;
	margin: 15px;
}

.Skat45Texts {
	margin-right: 15px;
}

.Win[program="SKAT45"] .Window .WindowBody img {
	border: solid 1.7px black;
	height: calc(100% - 40px);
	margin-left: auto;
	margin-right: 0;
}

.SkatBTNs {
	display: flex;
}

.SkatBTNs div {
	padding: 6px 13px;
	margin: 20px 10px;
	border: solid 1.5px black;
	border-radius: 6px;
}

.SkatBTNs div:active {
	background-color: black;
	color: white;
}