.Win[program="NOTEPAD"] .Window .WindowBody {
	padding: 0px;
	overflow-y: hidden;

}

.Win[program="NOTEPAD"] .Window .WindowBody textarea {
	width: calc(100% - 23.5px);
	height: 100%;
	margin: 0;
	resize: none;
	font-size: 1.7em;
	padding: 10px;
}

.Win[program="NOTEPAD"] .Window .WindowBody textarea:focus {
	outline: none;
}